.field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.field-wrapper {
    position: relative;
}

.field-label {
    width: 100%;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555555;
}

.field {
    width: 100%;
    font-size: 1.2rem;
    padding: 1.2rem 0.8rem;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    outline: none;
    background: #ffffff;
}

.field::placeholder {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(143, 143, 143);
}

.field:focus {
    outline: 1px solid #FF9A1C;
}

.icon-btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 3rem;
    border: none;
    background: none;
    cursor: pointer;
}

.eye-icon {
    font-size: 1rem;
    vertical-align: middle;
    color: rgb(117, 117, 117);
}

.error-msg {
    width: 100%;
    height: 1rem;
    margin-top: 0.1rem;
    font-size: 0.9rem;
    color: #ff0000;
}

/* Mobile devices (480px) */
@media (max-width: 480px) {

    /* Empty for now */
}

@media (min-width: 481px) and (max-width: 768px) {
    .form-field-label {
        font-size: 1rem;
    }

    .form-field {
        height: 2.4rem;
        font-size: 1rem;
    }

    .form-field::placeholder {
        font-size: 0.8rem;
    }

    .eye-icon {
        font-size: 0.9rem;
    }

    .error-msg {
        font-size: 0.8rem;
    }
}