.searchbar-container {
    display: flex;
    width: 100%;
    padding: .7rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.searchbar {
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.searchbar::placeholder {
    color: rgba(229, 127, 0, 0.70);
}

.searchbar-container:focus-within {
    outline: 1px solid #FF9A1C;
}