.register-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3rem;
    /* background: linear-gradient(180deg, rgba(255, 200, 0, 0.523) 0%, rgba(0, 193, 170, 0.00) 90%); */
}

.register-logo-image {
    width: 5rem;
    height: 5rem;
    background: orange;
    border-radius: 50%;
}