.order-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4), 0 1px 2px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
}

.order-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.edit-icon {
    font-size: 1.3rem;
    color: #FFA500;
    cursor: pointer;
}

.cancel-icon {
    font-size: 1.3rem;
    color: #FF0000;
    cursor: pointer;
}

.order-items-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    height: auto;
    padding: 1rem 4rem;
    gap: 0.5rem;
}

.item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.trash-icon {
    color: #ec4c5c;
    cursor: pointer;
}

.item-quantity-controls {
    display: flex;
    flex: 0 0 5rem;
    border-radius: 50px;
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    overflow: hidden;
}

.item-quantity-controls button {
    flex: 0 0 25%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    border: none;
    background: none;
    cursor: pointer;
}

.edit-mode {
    color: #ffffff;
    background-color: #FFA500;
}

.item-quantity-total {
    flex: 1;
    text-align: center;
}

.order-card-notes {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid #e0e0e0;
}