.sidebar-nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-nav-list {
    margin-top: 5rem;
}

.sidebar-nav-list-item {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: #ddd;
    border-top: 1px solid #444;
    cursor: pointer;
    transition: color 0.5s;
}

.sidebar-nav-list-item:last-child {
    border-bottom: 1px solid #444;
}

.sidebar-nav-list-item:hover {
    background-color: #444;
    color: #fff;
}