.menu-item-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    width: 90%;
    z-index: 1001;
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
}

.item-modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-modal-details {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
    border-bottom: 1px solid #d0d0d0;
    gap: 2rem;
}

.item-modal-form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d0d0d0;
}

.item-modal-name-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.item-modal-name {
    flex: 0 0 50%;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 70%;
    flex-basis: 70%;
}

.item-modal-price {
    font-size: 1.2rem;
    flex-basis: 30%;
    text-align: right;
}

.item-modal-description {
    display: flex;
    gap: 3rem;
}

.item-modal-category {
    display: flex;
    gap: 3rem;
}

.item-modal-availability {
    display: flex;
    gap: 3rem;
}

.item-label {
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
}

.item-text {
    flex: 3;
}

.item-modal-error-msg {
    color: #dc3545;
    font-size: 0.9rem;
}

.item-modal-actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.buttons-wrapper {
    display: flex;
    margin-left: auto;
    gap: 1rem;
}

.modal-action-button {
    font-size: 0.9rem;
    padding: 0.7rem 1.1rem;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.modal-remove-button {
    background-color: #dc3545;
}

.modal-remove-button:hover {
    background-color: #c82333;
}

.modal-close-button {
    background-color: #454545;
}

.modal-close-button:hover {
    background-color: #232323;
}

.modal-edit-button {
    background-color: #FFA500;
}

.modal-edit-button:hover {
    background-color: #FF8C00;
}

.modal-cancel-button {
    background-color: #454545;
}

.modal-cancel-button:hover {
    background-color: #232323;
}

.modal-save-button {
    background-color: #FFA500;
}

.modal-save-button:hover {
    background-color: #FF8C00;
}

.item-modal-form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d0d0d0;
}

.edit-image-upload {
    display: none
}

.image-upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.image-upload-label:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.edit-field-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-field {
    width: 100%;
    flex: 3;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    resize: none;
}

.edit-field:focus {
    outline: none;
    border: 1px solid #FFA500;
}

.edit-field-error-msg {
    height: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
    color: #dc3545;
}